header {        
    display: flex;
    justify-content: space-between;   

    position: fixed;
    top: 0;    
    background-color: $base-color;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;

    .header-logo {
        display: inline-flex;
    
        .platform-title {
            align-self: center;
            margin-left: 1rem;
        }
    }

    .header-buttons {
        align-self: center;
        display: inline-flex;
        
        div {        
            cursor: pointer;
            border-radius: 3px;
            padding: 0.5rem;
            margin: 0.5rem;
    
            &:hover {
                background-color: $text-color;
                color: $base-color;
            }
        }
    }
}

@media (max-width: 1280px) {
    header {
        .header-logo {
            .platform-title {
                display: none;
            }
        }
    }
}
